.preview-page
    &__content
      background: $white;

    &__parallax
        height: 100vh;

    &__container-logo
        height: 80%;
        width: 100%;

        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: center;
        align-content: stretch;
        align-items: center;  

    &__logo
        height: 200px;       
        order: 0;
        flex: 0 1 auto;
        align-self: auto;

    &__title  
        color: $white;     
        order: 0;
        flex: 0 1 auto;
        align-self: auto;

          
