$fonts-path: '../fonts/';
$img-path: '../images/';

$content-size: 1050px

$brand-color-1: #fbdb49
$brand-color-2: #c8c8c8
$brand-color-3: #7f7d7c

$white: #e3e3e3
$black: #333333

$brand-font-1: $fonts-path + "ARLRDBD.ttf";